/* Reset some basic styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure the Navbar container takes full width */

.background {
    background-image: radial-gradient(#ffffff 2.5px, transparent 2.5px,radial-gradient(#ffff));
    background-size: 36px 36px;
    background-position: 0 0, 18px 18px;
    background-color: #b1d2ff;


}

.spinner{
    margin:40px;
    width:11.2px;
    height:11.2px;
    animation:spinner-z355kx 1s infinite linear;
    border-radius: 11.2px;
    box-shadow:28px opx 0 0 #fff,17.4px 21.8px 0 0 #fff, -6.2px 27,2px 0 0 #fff , -25.2px;
}
@keyframes spinner-z355kx{
    to {
        transform: rotate(360deg);
    }
}
.custom-loader {
    width:50px;
    height:50px;
    color:#766DF4;
    --c:radial-gradient(farthest-side,currentColor 92%,#0000);
    background: 
      var(--c) 50% 0   /12px 12px,
      var(--c) 50% 100%/12px 12px,
      var(--c) 100% 50%/12px 12px,
      var(--c) 0    50%/12px 12px,
      var(--c) 50%  50%/12px 12px,
      linear-gradient(currentColor 0 0) 50% 50%/4px 100%,
      linear-gradient(currentColor 0 0) 50% 50%/100% 4px;
    background-repeat:no-repeat;
    animation:s8 1s infinite linear;
  }
  @keyframes s8 {to{transform: rotate(.5turn)}}

